<div class="mx-auto">
  <div data-controller="login" class="text-center">
    <div class="mb-2">
      <h3 class="text-xl font-bold mb-2">Welcome to the App</h3>
      <p>
        To get started, click the button bellow to sign in with your Procore
        credentials. On the following page, click <b>Allow</b> to allow the
        application to use your credentials to make requests to the data you
        have access to.
      </p>
    </div>
    <button data-action="login#login" class="rounded text-base leading-6 pl-5 pr-5 pt-2.5 pb-2.5 whitespace-nowrap text-center inline-flex items-center justify-center bg-[#ff5100] text-white">Login to Procore</button>
  </div>
</div>
